<?xml version='1.0' encoding='UTF-8'?>
<openbox_menu xmlns='http://openbox.org/' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://openbox.org/                 file:///usr/share/openbox/menu.xsd'>
  <menu id='root-menu' label='Openbox 3.5'>
    <item label='Run Program'>
      <action name='Execute'>
        <execute>gmrun</execute>
      </action>
    </item>
    <item label='Terminal'>
      <action name='Execute'>
        <execute>lxterminal</execute>
      </action>
    </item>
    <item label='Browser'>
      <action name='Execute'>
        <execute>firefox</execute>
      </action>
    </item>
    <item label='File Manager'>
      <action name='Execute'>
        <execute>pcmanfm</execute>
      </action>
    </item>
    <item label='Editor'>
      <action name='Execute'>
        <execute>mousepad</execute>
      </action>
    </item>
    <separator/>
    <menu id='applications' label='Applications' execute='xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu'/>
    <menu id='root-menu-settings' label='Preferences'>
      <item label='Obconf [modify openbox]'>
        <action name='Execute'>
          <execute>obconf</execute>
        </action>
      </item>
      <item label='Lxappearance [colours/themes/icons]'>
        <action name='Execute'>
          <execute>lxappearance</execute>
        </action>
      </item>
      <item label='Tint2conf [customize panel]'>
        <action name='Execute'>
          <execute>tint2conf</execute>
        </action>
      </item>
    </menu>
    <separator/>
    <menu id='root-menu-logout' label='Exit'>
      <item label='Log Out'>
        <action name='Execute'>
          <execute>openbox --exit</execute>
        </action>
      </item>
      <item label='Reboot'>
        <action name='Execute'>
          <execute>sudo reboot</execute>
        </action>
      </item>
      <item label='Shutdown'>
        <action name='Execute'>
          <execute>sudo poweroff</execute>
        </action>
      </item>
    </menu>
  </menu>
</openbox_menu>
