UpdateInterval=0
TimeScale=0
Size=91
Mode=3
Frame=0
Border=0
Bars=0
TrackedCore=0
Command=term htop
InTerminal=0
StartupNotification=1
ColorMode=0
Foreground1=#00001ad70000
Foreground2=#0000ffff27a2
Foreground3=#00000000ffff
Background=#000000000000
BarsColor=#ffffe7a60000

