UpdateInterval=1
TimeScale=0
Size=58
Mode=0
Frame=1
Border=1
Bars=0
TrackedCore=0
Command=term htop
InTerminal=0
StartupNotification=1
ColorMode=2
Foreground1=#0381da9c56fd
Foreground2=#d964ffff2f3a
Foreground3=#00000000ffff
Background=#000000000000
BarsColor=#0000092fffff

