Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(0,161,0)
Color_Out=rgb(185,108,255)
Text=Net
Network_Device=wlan0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false

