Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=#00A100
Color_Out=#B96CFF
Text=Net
Network_Device=wlan0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false

