loc_name=Toronto, Ontario
lat=43.652921
lon=-79.384901
msl=102
timezone=America/Toronto
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=2
units_windspeed=0
units_precipitation=0
units_altitude=0
model_apparent_temperature=1
round=true
single_row=false
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid
show_scrollbox=true
scrollbox_lines=2
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=11
label2=4
label3=9

