body { background-color: ffffff; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; }
#search {	position: absolute;	right: 5px;	top: 5px; }

/* Directory Listing Header - "Filename", "Size" */
td { vertical-align: top; font-size: 10pt; }
td a { display: block; width: 100%;	}
thead { font-weight: bold;	color: #eee; }
thead td { background-color: #777; }
thead a:link, 
thead a:visited, 
thead a:active, 
thead a:hover { color: #eee; }

/* Directory Entries Within Listing */

/* File Entries Within Listing */
.filefont { font-size: 10pt; }

/* Alternating Background Colors Within Listing */
.grey { background-color: #eeeeee; }

/* Link Formatting */
a { text-decoration: none; }  			/* remove default underline from link */
a:link { color: #0000ff }  					/* color for unvisited links */
a:visited { color: #000099 } 				/* color for visited links */
a:active { color: #990000 } 				/* color when link is clicked */
a:hover {	color: #0000FF; text-decoration: underline }
